[report]

omit = 
    */python?.?/*
    */site-packages/*
    */home/travis/virtualenv/*
    *__init__*
    */dist-packages/*
    tests/*
    app/exception_handler.py

exclude_lines =
    pragma: no cover
    def handle_invalid_usage
    def index
    raise InvalidUsage

